{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="/">Overview <span class="sr-only">(current)</span></a></li>
                    <li class="active"><a href="/configuration">Configuration</a></li>
                    <li><a href="/monitoring">Monitoring</a></li>
                    <li><a href="/reports">Reports</a></li>
                    <li><a href="/requests">Requests</a></li>
                    <li><a href="/schemas">Schemas</a></li>
                    <li><a href="/warehouse">Warehouse</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Configuration</h1>

    <div class="col-xs-6 col-sm-3">
        <h4 class="text-center">Network Configuration</h4>
        <span class="text-muted">Add the network</span>

        <form role="form" action="/configuration/addnetwork" method="post">
            {% csrf_token %}
            {% for field in network_form %}
                <div class="form-inline">
                    {{ field.label_tag }}
                </div>
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-default form-group">Add the network</button>
        </form>

    <hr>

            {% if networks %}
                <ul>
                    {% for network in networks %}
                        <li>
                            <p>Network Name: {{ network.name }}</p>
                            </p>Network IP Address: {{ network.ip }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No networks are configured</p>
            {% endif %}

        </div>

        <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Virtual Infrastructure Configuration</h4>
            <span class="text-muted">Virtual Infrastructure Configuration</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Server Configuration</h4>
            <span class="text-muted">Server Configuration</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>PC Configuration</h4>
            <span class="text-muted">PC Configuration</span>
        </div>
    </div>

    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="/static/holder/holder.js"></script>
{% endblock %}
