.configuration {
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}

.configuration container {
  position: relative;
  top:100px;
}

.configuration p {
  font-size: 15px;
  margin-bottom: 13px;
  position: relative;
  right:100px;
}